{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard"
  ],
  "parser": "babel-eslint",
  "plugins": ["prettier", "react"],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "react/no-did-update-set-state": 0,
    "react/prop-types": 0,
    "valid-jsdoc": "error"
  }
}
